html {
    font-size: clamp(1rem, calc(0.5rem + 2vw), 1.625rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: white;
}


header {
    padding: 1vw 4vw 1vw 4vw;
    font-size: 1vw;
    text-align: center;  
}



header li {
    padding: 1vw 0 1vw 0;
    font-size: 6vw;
}

header ul {
    padding: 1vw 0 1vw 0;
}

header a.LOG  {
    color: #FBBC05;
}

header span {
    color: white;
    background-color: #FBBC05;
    padding: 1vw;
    border-radius: 5px;
}


.banner {
    padding: 4vw;
    background-image: url(img/background-banner.png);
    

}

.banner a {
    display: flex;


}

.banner h2 {
  color: #252B42;
  font-size: 6vw;
  font-weight: 600;
}

.banner p {
    color: #737373;
    padding: 2vw 0 2vw 0;
}



.banner a {
    display: flex;
    align-items: center;
    background-color: #252B42;
    padding: 1vw;
    width: auto;
    border-radius: 5px;
}

.banner img {
    margin: 0 1.5vw 0 0;
    display: none;
}

.banner img.icon {
    display: block;
}

.banner p.button {
    display: flex;
    gap: 15px;
    color: white;
}

.banner p {
    margin: 0vw 0 4vw 0;
}

.ready {
    padding: 4vw;
}

.ready h2 {
   color: #252B42;
   font-size: 7vw;
   margin: 2vw 0 2vw 0;
   font-weight: 600;
}

.ready h3 {
   color: #252B42;
   font-weight: 600;
   margin: 5vw 0 5vw 0;
}

.ready p {
    color: #737373;
    font-size: 4vw;
    margin: 0 0 4vw 0;
    margin: 5vw 0 5vw 0;
}

.ready  li p{
    text-align: left;
}

.ready img.UI {
    display: none;
}


.donwload {
    padding: 4vw;
}

.donwload > div {
    background-color: #FBBC05;
    border-radius: 10px;
    padding: 2vw;
}

.donwload h2 {
    color: white;
    padding: 2vw;
    font-weight: 600;
}

.donwload p {
    color: white;
    padding: 2vw 2vw 4vw 2vw;
}

.donwload a {
    background-color: #252B42;
    color: white;
    padding: 2vw;
    margin: 3vw 2vw 3vw 2vw;
    border-radius: 5px;
    display: inline-block;
}

.donwload img {
    display: none;
}

.services {
    padding: 4vw;
}

.services h2 {
    font-weight: 550;
}

.services p {
    margin: 1vw 0 1vw 0;
}

.services li {
    background-color: #F6F6F6;
    padding: 5vw;
    margin: 3vw 0 3vw 0;
}

.services h3 {
    font-weight: 550;
    font-size: 8vw;
    margin: 6vw 0 3vw 0;
}

.services li.brand {
    background-color: #FAD007;
}

.contact {
    padding: 4vw;
}

.contact h2 {
    font-weight: 550;
    margin: 1vw 0 2vw 0;
}

.contact div p {
    border-bottom:solid 1px #FAD007;
    padding: 2.5vw 0 2.5vw 3vw;
}

.contact img {
    margin: 2vw 0 0 0;
}

.contact div p.message {
    border-bottom:solid 1px #FAD007;
    padding: 2.5vw 0 10vw 3vw;
}



@media only screen and (min-width: 600px) { 
    header nav {
        display: flex;
        justify-content: space-between;
        
    }

    header nav ul {
        display: flex;
        align-items: center;
        gap: 45px;
    }

    header li {
        font-size: 1.5vw;
    }

    .banner h2 {
        font-size: 2vw;
        padding: 0 0 2vw 0;
    }

    .banner img {
        display: block;
    }

    .banner p {
        font-size: 1vw;
    }

    .banner div.texto {
        margin: 7vw 0 0 0;
    }

   

    .banner {
        display: flex;
    }

    .banner div{
        flex:  0 0 50%;
    }

    .ready h2  {
        text-align: center;
    }

    .ready > div {
        display: flex;

    } 

    .ready ul {
        display: flex;
        flex-wrap: wrap;
    }

    .ready li {
        margin: 0 2vw 0 2vw;
        
    }

    .ready img.UI {
        display: block;
    }

    


    .ready div {
        flex: 0 0 50%;
        margin: 3vw 0 0 0;
    }

    .ready h2 {
        font-size: 2vw;
    }

    .ready p {
        font-size: 1vw;
        margin: 1vw 0 1vw 0;
    }

    .ready > p {
        text-align: center;
    }

    .ready h3 {
        font-size: 1.5vw;
        margin: 1vw 0 1vw 0;
    }


    .donwload img {
        width: 30%;
    }

    .donwload > div {
        display: flex;
        margin: 0 4vw 0 4vw;
    }

    

    .donwload img{
        display: block;
    }

    .donwload > div {
        padding: 2vw 0 1vw 1vw;
    }

    .donwload h2 {
        font-size: 4.3vw;
       
    }

    .services h2 {
        font-size: 3.5vw;
    }

    .services h3 {
        font-size: 2.5vw;
    }

    .services > div {
        display: flex;
    }

   
    .services ul {
        display: flex;
        flex-wrap: wrap;
    }

    .services .title {
        margin: 0 15vw 0 0;
    }

    .services li {
        margin: 1vw 1vw 1vw 1vw;
        width: 40%;
    }

    .services li p {
        font-size: 1vw;
    }

    .services li {
        margin: 0 1vw 1vw 1vw;
    }

    

    

   
}
