/* css geral */
html {
    font-family: "Heebo", sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

/* ==== header ==== */
header nav ul li {
    text-align: center;
    padding: 7vw 0vw 0vw 0vw;
}

section.banner {
    text-align: center;
    padding: 5vw 3vw 5vw 3vw;
}

section.banner h1 {
    font-size: 1.967rem;
    font-weight: 599;
    padding: 3vw 0 2vw 0;
}

section.banner p {
    line-height: 1.5rem;
}

section.banner p a {
    background: #FF6464;
    color: white;
    padding: 8px 16px 8px 16px;
    border-radius: 5px;
    line-height: 3rem;
    display: inline-block;
    margin: 5vw 0 5vw 0;
}

/*== Recent posts ==*/






















section.rc-posts {
    background: #EDF7FA;
    padding: 5vw 5vw 5vw 5vw;
    line-height: 1.5rem;

}



section.rc-posts h2 {
    text-align: center;
    padding: 10px 0 10px 0;
    padding: 10 px 10px 10px 10px;
}


section.rc-posts li {
 background: white;
    padding: 5vw 5vw 5vw 5vw;
    margin: 4vw 0 4vw 0;
    border-radius: 10px;
}

section.rc-posts ul li h3 {
    font-weight: 600;
    font-size: 1.567rem;

}



section.rc-posts p {
    margin: 15px 7px 15px 7px;
    line-height: 1.5rem;
    padding: 10 px 10px 10px 10px;

}

/* Featured works */

section.ft-works {
    padding: 10vw 5vw 10vw 5vw;
}


section.ft-works h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.7rem;

}

section.ft-works ul li img {
    margin: 20px;
    width: 100%;


}

section.ft-works ul li p {
    line-height: 1.5rem;
    margin: 10px;

}

section.ft-works h3 {
    font-weight: 600;
    font-size: 1.567rem;
    padding: 2vw 2vw 2vw 2vw;

}

section.ft-works ul li p.categoria {
    color: grey;

}

section.ft-works ul li p.categoria span {
    background: #142850;
    color: white;
    border-radius: 70px;
    display: inline-block;
    padding: 0 10px 0 10px;
    font-weight: 600;
}
/*====================================== footer ===============*/

footer p a  {
    
    display: inline-block;
    margin: 0 3.5vw 0 3.5vw;
    
    
}

footer p {
    text-align: center;
    padding: 4vw 0vw 4vw 0;
}

/*====================== BLOG ======================*/

section.ft  {
    margin: 0 5vw 0 5dvb;
    
}

section.ft h1 {
  font-size: 5vw;
  font-weight: 300;
  padding: 10vw 0 10vw 0;
}

section.ft h2 {
    font-weight: 600;
    font-size: 4vw;
    padding: 5vw 0 2vw 0 ;
}

section.ft p.categorias span {
    background: #FF7C7C;
    color: white;
    display: inline-block;
    border-radius: 10vw;
    padding: 2px 7px 2px 7px ;
    font-weight: 700;
    margin: 0 20px 0 0;
    
}

section.ft p.categorias {
    padding: 2vw 0 4vw 0;
}

section.ft ul li p {
    line-height: 4vw;
}

section.ft img {
    padding: 4vw 0 4vw ;
    width: 100%;
}

section.ft li {
    border-bottom: 1px solid rgb(200, 192, 192);
}
