html {

    font-family: "Ibarra Real Nova", serif;
}

header {
    background-color: #FFF2F3;
    display: flex;
    justify-content: space-between;
    padding: 5vw 10vw 5vw 10vw;
    
    
}
header nav ul {
    display: flex; 
    gap: 18px;
}

header h1 {
 font-size: 3vw;
 
 font-weight: 550;
 color: #252B42;
}

header ul {
    
    
    color: #737373;
    line-height: 4vw;
}

.btn {
    background-color: #96BB7C;
    padding: 1vw 1vw 1vw 1vw;
    border-radius: 7px;
    color: white;
}

/* =========================================== */
section.banner {
    display: flex;
}

section.banner{
    background-color: #FFF2F3;

}

section.banner h2 {
    color: #96BB7C;

}

section.banner h3 {
    color: #252B42;
    font-size: 5vw;
}

section.banner p {
    color: #737373;
    padding: 2vw 0 2vw 0;
}



section.banner a.btn-border {
    border: 1px solid #96BB7C;
    padding: 1vw 1vw 1vw 1vw;
    border-radius: 7px;
    color: white;
    color: #96BB7C;
}
section.banner div {
    padding: 2vw 2vw 0vw 2vw ;
}

/* ========================= */ 




section.team {
    margin: 5vw 5vw 5vw 5vw;
   
}

section.team h2 {
    color: #96BB7C;

}

section.team h3 {
    color: #252B42;
    font-size: 4vw;
}
section.team h4 {
    font-weight: 600;
}

section.team p {
    color: #737373;
    padding: 2vw 0 2vw 0;
}

section.team img {
    width: 10 0%;
    
}

.team ul {
    text-align: center;
    display: flex;
    margin: 5vw 0 5vw 0;
    justify-content: center;
    gap: 30px;
}

.team ul li {
    background-color: #ECF0E8;
}

/* =========================== */


section.news {
    background-color: #FFF2F3;
    text-align: center;
    padding: 10vw 10vw 10vw 10vw;
}

section.news h2 {
    color: #96BB7C;

}

section.news h3 {
    color: #252B42;
    font-size: 3vw;
}

section.news p {
    color: #737373;
    
}


/* ================================ */

footer {
    display: flex;
    gap: 20vw;
    padding: 5vw 5vw 5vw 5vw;
}
footer img{
    padding: 0 1vw 0 1vw;
}

footer p {
    color: #737373;
}
